@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

:root {
  --prima-color-1: hsl(257, 40%, 49%);
  --prima-color-2: hsl(300, 69%, 71%);

  --ff-heading: 'Poppins', sans-serif;
  --ff-body: 'Open Sans', sans-serif;

  --fw-heading-400: 400;
  --fw-heading-600: 600;
  --fw-body-400: 400;
}

body {
  background-image: url('/images/bg-desktop.svg');
  background-color: var(--prima-color-1);
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 5em;
}

header {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 5rem;
}

header h1 {
  color: #ffff;
  font-family: var(--ff-heading);
}

main {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.first-section__heading {
  color: #ffff;
  font-family: var(--ff-heading);
}

.first-section__message {
  color: #ffff;
  font-family: var(--ff-body);
}

.first-section button {
  padding: 1rem 4rem;
  border-radius: 100px;
  border: none;
  color: hsl(257, 40%, 65%);
  font-family: var(--ff-heading);
  font-weight: var(--fw-heading-600);
}

footer {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: flex-end;
}

span {
  width: 1%;
  border: 1px solid #ffff;
  padding: 0.5rem;
  border-radius: 100px;
}
